html {
  /* Set a base font size to use relative units throughout the document */
  font-size: 10;
}

body {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, .75);
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.4em;
  text-align: center;
}

p {
  font-size: 1.2em;
  width: 100%;
  text-align: justify;
  margin: 10px 100px;
}

label {
  white-space: nowrap;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0 1em;
  margin: 0 2.5%;
  width: 95%;
  height: 80vh;
  align-items: center;
}

#map-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  height: 100%;
  width: 100%;
}

#reset-view {
  position: fixed;
  font-size: 1em;
  font-weight: bold;
  opacity: .75;
  border-radius: 1em;
  align-self: center;
  color: #fff;
  background-color: #000;
  padding: 2px 5px;
}

#reset-view:hover {
  background-color: #555;
}

#map-canvas {
  display: block;
  height: 90%;
  width: 100%;
  margin: 0;
  border-radius: 5em;
}

#filter-panel {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  text-align: center;
  height: 10%;
  margin-top: 1%;
  padding-top: 5px;
  border-top: 2px #fff solid;
  border-image: linear-gradient(to left, #333, #fff, #333) 10;
}

#filter-panel p {
  font-size: 1em;
  margin: 0;
  width: fit-content;
}

#filter-options {
  font-size: .8em;
  justify-content: space-between;
  margin: 0;
}

#info-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 80%;
  align-items: center;
}

#search-form {
  display: inline-flex;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-content: center;
}

#id-search {
  font-size: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: .5em 0 0 .5em;
  border: 0;
  padding-left: 20px;
  outline: none;
}

#search-button {
  font-size: 1em;
  border-radius: 0 .5em .5em 0;
  border: 0;
  background-color: rgb(54, 167, 69);
  text-decoration: none;
}

#search-button:hover {
  background-color: rgb(96, 221, 112);
}

#info-data {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#viz-container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  height: 100%;
  width: 100%;
}

#graph-svg {
  height: inherit;
  width: inherit;
  margin: 10px 10px 20px 30px;
  overflow: visible;
}

.autocomplete {
  width: 60%;
  align-self: center;
  position: relative;
  margin: 0;
  display: inline-block;
}

.button {
  cursor: pointer;
  outline: none;
}

.centered-p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-btn {
  font-size: 1em;
  width: max-content;
  background-color: rgb(54, 167, 69);
  padding: 1% 2%;
  border: none;
  border-radius: .5em 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(231, 231, 231);
}

.dropdown-content a {
  display: block;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: rgb(173, 173, 173);
}

.dropdown:hover .dropdown-content {
  display: inline-block !important;
}

.dropdown:hover .dropdown-btn {
  background-color: rgb(96, 221, 112);
}