html {
  /* Set a base font size to use relative units throughout the document */
  font-size: 10;
}

/*************************/
/***** HTML Elements *****/
/*************************/

body {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, .75);
}

h1 {
  text-align: center;
  text-shadow: 2px 2px #666;
}

h2 {
  font-size: 1.4em;
  text-align: center;
}

label {
  white-space: nowrap;
}

p {
  font-size: 1.2em;
  width: 100%;
  text-align: justify;
  margin: 10px 100px;
}

/**************/
/**** IDs *****/
/**************/

#filter-panel {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  text-align: center;
  height: 10%;
  margin-top: 1%;
  padding-top: 5px;
  border-top: 2px #fff solid;
  border-image: linear-gradient(to left, #333, #fff, #333) 10;
}

#filter-panel p {
  font-size: 1em;
  margin: 0;
  width: fit-content;
}

#filter-options {
  font-size: .8em;
  justify-content: space-between;
  margin: 0;
}

#graph-svg {
  height: inherit;
  width: inherit;
  margin: 10px 10px 20px 30px;
  overflow: visible;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0 1em;
  margin: 0 2.5%;
  width: 95%;
  height: 80vh;
  align-items: center;
}

#id-search {
  font-size: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: .5em;
  border: 2px rgb(54, 167, 69) groove;
  padding-left: 20px;
  outline: none;
}

#info-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 80%;
  align-items: center;
}

#info-data {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#map-buttons {
  width: max-content;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
}

#map-canvas {
  display: block;
  height: 90%;
  width: 100%;
  margin: 0;
  border-radius: 5em;
}

#map-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  height: 100%;
  width: 100%;
  align-items: center;
}

#reset-view {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  opacity: .75;
  border-radius: 1em;
  align-self: center;
  color: #fff;
  background-color: #000;
  padding: 2px 5px;
}

#reset-view:hover {
  background-color: #555;
}

#search-form {
  display: inline-flex;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-content: start;
  padding-left: 20px;
  padding-top: 5px;
}

#viz-container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  height: 100%;
  width: 100%;
}

/*******************/
/***** Classes *****/
/*******************/
.allow-overflow {
  max-height: 500px;
  overflow: auto;
}

.autocomplete {
  width: 60%;
  align-self: center;
  position: relative;
  margin: 0;
  display: inline-block;
}

.autocomplete-active {
  background-color: rgb(54, 167, 69);
}

.button {
  cursor: pointer;
  outline: none;
}

.centered-p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown:hover .dropdown-content {
  display: inline-block !important;
}

.dropdown:hover .dropdown-btn {
  background-color: rgb(96, 221, 112);
}

.dropdown-btn {
  font-size: 1em;
  width: max-content;
  background-color: rgb(54, 167, 69);
  padding: 1% 2%;
  border: none;
  border-radius: .5em 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(231, 231, 231);
}

.dropdown-content a {
  display: block;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: rgb(173, 173, 173);
}

input:checked + .slider:before,
input:checked + .slider .slider-text {
  -webkit-transform: translateX(45%);
  -ms-transform: translateX(45%);
  transform: translateX(45%);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .75;
  border-radius: 1em;
  background-color: #000;
  box-shadow: 0 0 5px  rgb(96, 221, 112);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-text {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.slider:before,
.slider .slider-text {
  position: absolute;
  content: '';
  height: 25px;
  width: 70px;
  border-radius: 1em;
  background-color: rgb(54, 167, 69);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}