html {
  /* Set a base font size to use relative units throughout the document */
  font-size: 10;
}

body {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, .75);
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.4em;
  text-align: center;
  margin: 0 0 2% 0;
}

p {
  font-size: 1.2em;
  width: 100%;
  text-align: justify;
  margin: 0 1em;
  padding: .2em 0;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em 1em;
  margin: 0 2.5%;
  width: 95%;
  height: 80vh;
  align-items: center;
}

#map-container {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  height: 100%;
  width: 100%;
}

#map-canvas {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 5em;
}

#viz-container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
}

#graph-svg {
  height: auto;
  width: 100%;
  margin: 0 2%;
}

#info-container {
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  height: 100%;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  font-size: 1em;
  width: max-content;
  background-color: rgb(54, 167, 69);
  padding: 1% 2%;
  border: none;
  border-radius: .5em 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(231, 231, 231);
}

.dropdown-content a {
  display: block;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: rgb(173, 173, 173);
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown:hover .dropdown-btn {
  background-color: rgb(96, 221, 112);
}